{% extends 'base/base_template.html' %}
{% load static %}

{% block main_content %}

    <div class="card open_task">
        <div class="header text-center">
            <h2>Add Client</h2>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn"
                        x-placement="bottom-end"
                        style="position: absolute; transform: translate3d(31px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form id="basic-form" action="{% url 'client-add' %}" method="POST" novalidate=""
                  enctype="multipart/form-data" style="padding: 0 167px;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name_id">Name</label>
                    <input id="name_id" name="name" type="text" class="form-control " value="{{ name }}" required="">
                </div>

                <div class="form-group">
                    <label for="company_id">Company Name</label>
                    <input id="company_id" name="company_name" type="text" class="form-control " value="{{ company_name }}" required="">
                </div>

                <div class="form-group">
                    <label for="phone_id">Phone</label>
                    <input id="phone_id" name="phone" type="number" class="form-control" value="{{ phone }}" required="">
                </div>

                <div class="form-group">
                    <label for="email_id">Email</label>
                    <input id="email_id" name="email" type="email" class="form-control " value="{{ email }}" required="">
                </div>

                <div class="form-group">
                    <label for="address_id">Address</label>
                    <textarea id="address_id" name="address" class="form-control " rows="3" cols="30">{{ address }}</textarea>
                </div>
                <div class="form-group">
                    <label for="comment_id">Comment</label>
                    <textarea id="comment_id" name="comment" class="form-control " rows="3" cols="30">{{ comment }}</textarea>
                </div>


                <div class="form-group">
                    <label>Profile Picture</label>
                    <input name="profile_picture" type="file" id="dropify-event"
                           data-default-file={% static 'base/images/default_user.png' %}>
                    <p id="dropify-event"></p>
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}