{% extends 'base/base_template.html' %}
{% load static %}
{% block title %}
    Task: {{ selected_task.name }}
{% endblock %}
{% block main_content %}

    <div class="card open_task">
        <div class="header">
            <h2 style="font-size: 25px; margin-bottom: 10px !important;">Task Information</h2>
            <div>


                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#task">
                            <i class="fas fa-tasks"></i> Task</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Task-description"><i
                                class="fas fa-envelope-open-text"></i> Task Description</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Module">
                            <i class="fas fa-project-diagram"></i> Module</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Module-description"><i
                                class="fas fa-envelope-open-text"></i> Module Description</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Project">
                            <i class="fas fa-project-diagram"></i> Project</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#project-description"><i
                                class="fas fa-envelope-open-text"></i> Project Description</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane show active" id="task">
                            <div class="card">
                                <div class="header">
                                    <h2>Task general info</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-18">
                                        <li><i class="icon-book-open m-r-5"></i> Task Name: <span
                                                class="telegram-color p-1">{{ selected_task.name }}</span></li>

                                        <li><i class="fas fa-thermometer-half m-r-5"></i> Task Status:
                                            <span style="font-weight: bolder" class="badge text-white
                                                            {% if selected_task.status == 1 %}
                                                                 badge-default bg-secondary
                                                             {% elif selected_task.status == 2 %}
                                                                 badge-info bg-info
                                                             {% elif selected_task.status == 3 %}
                                                                 badge-primary bg-primary
                                                             {% elif selected_task.status == 4 %}
                                                                 badge-warning bg-warning text-dark
                                                             {% elif selected_task.status == 5 %}
                                                                 badge-danger bg-danger
                                                             {% elif selected_task.status == 6 %}
                                                                 badge-success bg-success
                                                             {% elif selected_task.status == 7 %}
                                                                 badge-success bg-success
                                                             {% endif %}">{{ selected_task.get_status_display }}</span>
                                        </li>
                                        <li>
                                            <div style="display: flex; align-items: center; width: 100%; justify-content: space-between">
                                                <div>
                                                    <i class="fas fa-spinner m-r-10"></i>
                                                    Task Progress:
                                                </div>
                                                <div style="display: flex; justify-content: end; width: 33%">
                                                    <div class="progress w-100" style="border-radius: 20px;">
                                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                                             style="width: {{ selected_task.get_task_progress }}%">
                                                            <span class="">{{selected_task.get_task_progress}}%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Task Assigned Date: <span
                                                class="badge-primary badge">{{ selected_task.assigned_at|default_if_none:'' }}</span>
                                        </li>
                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Task Submission Date:
                                            <span class="badge badge-danger">
                                        {{ selected_task.get_day_left_to_submit }} days left to submit</span>
                                            <span class="badge-purple badge">{{ selected_task.submission_date }}</span>

                                        </li>
                                        {% if selected_task.status == 7 %}
                                            <li><i class="fa fa-calendar-alt m-r-5"></i> Task Completed At:
                                                <span class="badge-success badge">{{ selected_task.completed_at }}</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="Task-description">
                            <div class="card">
                                <div class="header">
                                    <h2>Task Description</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-15">
                                        <li style="text-align: left" class="align-left">
                                            <span style="width: 100%">{{ selected_task.description|linebreaks }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane show " id="Module">
                            <div class="card">
                                <div class="header">
                                    <h2>Module of the task</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-18">
                                        <li><i class="icon-book-open m-r-5"></i> Module Name: <span
                                                class="telegram-color p-1">{{ selected_task.module.name }}</span></li>

                                        <li><i class="fas fa-thermometer-half m-r-5"></i> Module Status: <span
                                                style="font-weight: bolder"
                                                class="badge text-white
                                                            {% if selected_task.module.status == 1 %}
                                                                 badge-default  bg-secondary
                                                             {% elif selected_task.module.status == 2 %}
                                                                 badge-info bg-info
                                                             {% elif selected_task.module.status == 3 %}
                                                                 badge-primary bg-primary
                                                             {% elif selected_task.module.status == 4 %}
                                                                 badge-success bg-success
                                                             {% endif %}">{{ selected_task.module.get_status_display }}</span>
                                        </li>
                                        <li>
                                            <div style="display: flex; align-items: center; width: 100%; justify-content: space-between">
                                                <div>
                                                    <i class="fas fa-spinner m-r-10"></i>
                                                    Module Progress:
                                                </div>
                                                <div style="display: flex; justify-content: end; width: 33%">
                                                    <div class="progress w-100" style="border-radius: 20px;">

                                                        <div class="progress-bar progress-bar-success progress-bar-striped text-center"
                                                             style="width: {{ selected_task.module.progress }}%">
                                                            <span class="text-center {% if selected_task.module.progress == 0 %}text-dark{% endif %}">{{selected_task.module.progress}}%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        {#                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Assigned Date: <span#}
                                        {#                                                class="badge-primary badge">{{ selected_module.project.assigned_at|default_if_none:'' }}</span>#}
                                        {#                                        </li>#}
                                        {#                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Submission Date:#}
                                        {#                                            <span class="badge badge-danger">#}
                                        {#                                        {{ selected_module.project.get_day_left_to_submit }} days left to submit</span>#}
                                        {#                                            <span class="badge-purple badge">{{ selected_module.project.delivery_date }}</span>#}
                                        {##}
                                        {#                                        </li>#}
                                        {% if selected_task.module.status == 4 %}
                                            <li><i class="fa fa-calendar-alt m-r-5"></i> Module Completed At:
                                                <span class="badge-success badge">{{ selected_task.module.completed_at }}</span>

                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="Module-description">
                            <div class="card">
                                <div class="header">
                                    <h2>Module Description</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-15">
                                        <li style="text-align: left" class="align-left">
                                            <span style="width: 100%;">{{ selected_task.module.description|linebreaks }}</span>
                                        </li>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane show " id="Project">
                            <div class="card">
                                <div class="header">
                                    <h2>Project of the Task</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-18">
                                        <li><i class="icon-book-open m-r-5"></i> Project Name: <span
                                                class="telegram-color p-1">{{ selected_task.module.project.name }}</span>
                                        </li>

                                        <li><i class="fas fa-thermometer-half m-r-5"></i> Project Status: <span
                                                style="font-weight: bolder"
                                                class="badge text-white
                                                            {% if selected_task.module.project.status == 1 %}
                                                                 badge-default  bg-secondary
                                                             {% elif selected_task.module.project.status == 2 %}
                                                                 badge-info bg-info
                                                             {% elif selected_task.module.project.status == 3 %}
                                                                 badge-primary bg-primary
                                                             {% elif selected_task.module.project.status == 4 %}
                                                                 badge-success bg-success
                                                             {% endif %}">{{ selected_task.module.project.get_status_display }}</span>
                                        </li>

                                        <li>
                                            <div style="display: flex; align-items: center; width: 100%; justify-content: space-between">
                                                <div>
                                                    <i class="fas fa-spinner m-r-10"></i>
                                                    Project Progress:
                                                </div>
                                                <div style="display: flex; justify-content: end; width: 33%">
                                                    <div class="progress w-100" style="border-radius: 20px;">

                                                        <div class="progress-bar progress-bar-success progress-bar-striped text-center"
                                                             style="width: {{ selected_task.module.project.progress }}%">
                                                            <span class="text-center {% if selected_task.module.project.progress == 0 %}text-dark{% endif %}">{{selected_task.module.project.progress}}%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        {#                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Assigned Date: <span#}
                                        {#                                                class="badge-primary badge">{{ selected_module.project.assigned_at|default_if_none:'' }}</span>#}
                                        {#                                        </li>#}
                                        {#                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Submission Date:#}
                                        {#                                            <span class="badge badge-danger">#}
                                        {#                                        {{ selected_module.project.get_day_left_to_submit }} days left to submit</span>#}
                                        {#                                            <span class="badge-purple badge">{{ selected_module.project.delivery_date }}</span>#}
                                        {##}
                                        {#                                        </li>#}
                                        {% if selected_task.module.project.status == 4 %}
                                            <li><i class="fa fa-calendar-alt m-r-5"></i> Project Completed At:
                                                <span class="badge-success badge">{{ selected_task.module.project.completed_at }}</span>

                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="project-description">
                            <div class="card">
                                <div class="header">
                                    <h2>Project Description</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-15">
                                        <li style="text-align: left" class="align-left">
                                            <span style="width: 100%">{{ selected_task.module.project.description|linebreaks }}</span>
                                        </li>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
            <br/>
            <br/>
            <br/>
            {% if selected_task.status == 7 %}
                {#                task is comepleted so nothing to send to nowhere.           #}
            {% elif selected_task.status == 6 %}
                <a href="{% url 'member-task-details' selected_task.id %}?status=7">
                    <button type="button" class="btn btn-success"><i
                            class="fas fa-paper-plane"></i><span> Submit Task to Team Leader</span></button>
                </a>
            {% elif selected_task.status == 4 %}
                <span class="bg-dark badge badge-warning font-weight-bolder font-14"> You have submit this task to tester.</span>
            {% else %}
                <a href="{% url 'submit-task' selected_task.id %}">
                    <button type="button" class="btn btn-success"><i
                            class="fas fa-paper-plane"></i><span> Submit Task to Tester</span></button>
                </a>
            {% endif %}
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h5> Task Testing History</h5>
            <div class="body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped dataTable  js-exportable"
                           id="datatable-project_list" style="font-size: 13px;">
                        <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th class="td-padding">#</th>
                            <th class="td-padding">Tester</th>
                            <th class="td-padding">Status</th>
                            <th class="td-padding">Suggestion(if any)</th>
                            <th class="td-padding">Submitted at</th>
                            <th class="td-padding">Get from tester</th>
                            <th class="td-padding">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for task in all_submitted_task_to_tester %}
                            <tr>
                                <td class="td-padding">{{ forloop.counter }}</td>
                                {#                                <td>{{ task.task.name|slice:":20" }}{% if task.task.name|length > 20 %}...{% endif %}</td>#}
                                <td class="td-padding">{{ task.assigned_member }}</td>
                                <td class="td-padding">
                                    <span style="font-weight: bolder" class="badge text-white
                                                            {% if task.status == 1 %}
                                                                 badge-default bg-secondary
                                                             {% elif task.status == 2 %}
                                                                 badge-primary bg-primary
                                                             {% elif task.status == 3 %}
                                                                 badge-danger bg-danger
                                                             {% elif task.status == 4 %}
                                                                 badge-success bg-success
                                                             {% endif %}">
                                        {{ task.get_status_display }}</span>
                                </td>
                                <td class="td-padding">{{ task.bug }}</td>
                                <td class="td-padding">{{ task.created_at }}</td>
                                <td class="td-padding">{{ task.verified_at }}</td>
                                <td class="actions td-padding">
                                    {#                                    {% if task.status >= 2 %}{% else %}#}
                                    {#                                        <a href="{% url 'task-assign' selected_module.id  task.id %}">#}
                                    {#                                            <button type="button"#}
                                    {#                                                    class="btn btn-primary" title="Assign Task"><span#}
                                    {#                                                    class="sr-only">Assign Task</span> <i#}
                                    {#                                                    class="fas fa-share-square"></i>#}
                                    {#                                            </button>#}
                                    {#                                        </a>#}
                                    {#                                    {% endif %}#}
                                    {#                                    <a href="{% url 'task-update' selected_module.id task.id %}">#}
                                    {#                                        <button type="button"#}
                                    {#                                                class="btn btn-success" title="Edit Task"><span#}
                                    {#                                                class="sr-only">Edit</span> <i#}
                                    {#                                                class="fa fa-edit"></i></button>#}
                                    {#                                    </a>#}
                                    {#                                    <a id="confirm-button-url_task" data-module="{{ selected_module.id }}"#}
                                    {#                                       data-task="{{ task.id }}"#}
                                    {#                                       class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "#}
                                    {#                                       data-type="{% if task.status == 2 %}with-title{% else %}task_delete_confirm{% endif %}"#}
                                    {#                                       title="Delete Task"><span class="sr-only">Delete Task</span> <i#}
                                    {#                                            class="fas fa-trash-alt text-col-white"></i>#}
                                    {#                                    </a>#}
                                    {##}


                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        // SCript for delete user. here we are just taking the url of the user to delete and it will be using in dialog.js
        let delete_task_url = null;
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_task_url = "/team/module/" + $(this).data('module') + "/task/delete/" + $(this).data('task');
            console.log(delete_task_url);
        });
    </script>



{% endblock %}
