{% extends 'base/base_template.html' %}
{% load static %}
{% block title %}
    Task: {{ selected_task.name }}
{% endblock %}
{% block main_content %}

    <div class="card open_task">
        <div class="header">
            <h2 style="font-size: 25px; margin-bottom: 10px !important;">Task Information</h2>
            <div>


                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-withicon"><i
                                class="fa fa-home"></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-withicon"><i
                                class="fa fa-user"></i> Profile</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-withicon"><i
                                class="fa fa-vcard"></i> Contact</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="Home-withicon">


                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Task Name: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">{{ selected_task.name }}</p><br/>
                                </div>
                            </div>
                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Module Name: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">{{ selected_task.module.name }}</p><br/>
                                </div>
                            </div>
                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Project Name: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">{{ selected_task.module.project.name }}</p><br/>
                                </div>
                            </div>
                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Task Status: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">
                                        <span style="font-weight: bolder"  class="badge {% if selected_task.status == 1 %}
                                                                 badge-default
                                                             {% elif selected_task.status == 2 %}
                                                                 badge-info
                                                             {% elif selected_task.status == 3 %}
                                                                 badge-primary
                                                             {% elif selected_task.status == 4 %}
                                                                 badge-warning
                                                             {% elif selected_task.status == 5 %}
                                                                 badge-danger
                                                             {% elif selected_task.status == 6 %}
                                                                 badge-success
                                                             {% elif selected_task.status == 7 %}
                                                                 badge-success
                                                             {% endif %}">{{ selected_task.get_status_display }}</span>
                                    </p><br/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;padding-bottom: 5px !important;">Task Description: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p class="" style="font-size: 18px;">{{ selected_task.description }}</p>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;margin-right: 0px; padding-bottom: 5px !important;">Task
                                        Submission
                                        Last Date: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p class="" style="font-size: 18px;">{{ selected_task.submission_date }}
                                        :: {{ selected_task.get_day_left_to_submit }} days left</p>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="Profile-withicon">
                            <h6>Profile</h6>
                            <p>write someting here</p>
                        </div>
                        <div class="tab-pane" id="Contact-withicon">
                            <h6>Contact</h6>
                            <p>write someting here</p>

                        </div>
                    </div>
                </div>


            </div>
            <br/>
            <br/>
            <br/>
            {% if selected_task.status == 7 %}
                {#                task is comepleted so nothing to send to nowhere.           #}
            {% elif selected_task.status == 6 %}
                <a href="{% url 'member-task-details' selected_task.id %}?status=7">
                    <button type="button" class="btn btn-success"><i
                            class="fa fa-paper-plane-o"></i><span> Submit Task to Team Leader</span></button>
                </a>
            {% else %}
                <a href="{% url 'submit-task' selected_task.id %}">
                    <button type="button" class="btn btn-success"><i
                            class="fa fa-paper-plane-o"></i><span> Submit Task to Tester</span></button>
                </a>
            {% endif %}
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h5> Task Testing History</h5>
            <div class="body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped dataTable  js-exportable"
                           id="datatable-project_list" style="font-size: 13px;">
                        <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th class="td-padding">#</th>
                            <th class="td-padding">Tester</th>
                            <th class="td-padding">Status</th>
                            <th class="td-padding">Suggestion(if any)</th>
                            <th class="td-padding">Submitted at</th>
                            <th class="td-padding">Get from tester</th>
                            <th class="td-padding">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for task in all_submitted_task_to_tester %}
                            <tr>
                                <td class="td-padding">{{ forloop.counter }}</td>
                                {#                                <td>{{ task.task.name|slice:":20" }}{% if task.task.name|length > 20 %}...{% endif %}</td>#}
                                <td class="td-padding">{{ task.assigned_member }}</td>
                                <td class="td-padding">
                                    <span style="font-weight: bolder"  class="badge {% if task.status == 1 %}
                                                                 badge-default
                                                             {% elif task.status == 2 %}
                                                                 badge-primary
                                                             {% elif task.status == 3 %}
                                                                 badge-danger
                                                             {% elif task.status == 4 %}
                                                                 badge-success
                                                             {% endif %}">
                                        {{ task.get_status_display }}</span>
                                </td>
                                <td class="td-padding">{{ task.bug }}</td>
                                <td class="td-padding">{{ task.created_at }}</td>
                                <td class="td-padding">{{ task.verified_at }}</td>
                                <td class="actions td-padding">
                                    {#                                    {% if task.status >= 2 %}{% else %}#}
                                    {#                                        <a href="{% url 'task-assign' selected_module.id  task.id %}">#}
                                    {#                                            <button type="button"#}
                                    {#                                                    class="btn btn-primary" title="Assign Task"><span#}
                                    {#                                                    class="sr-only">Assign Task</span> <i#}
                                    {#                                                    class="fa fa-share-square-o"></i>#}
                                    {#                                            </button>#}
                                    {#                                        </a>#}
                                    {#                                    {% endif %}#}
                                    {#                                    <a href="{% url 'task-update' selected_module.id task.id %}">#}
                                    {#                                        <button type="button"#}
                                    {#                                                class="btn btn-success" title="Edit Task"><span#}
                                    {#                                                class="sr-only">Edit</span> <i#}
                                    {#                                                class="fa fa-edit"></i></button>#}
                                    {#                                    </a>#}
                                    {#                                    <a id="confirm-button-url_task" data-module="{{ selected_module.id }}"#}
                                    {#                                       data-task="{{ task.id }}"#}
                                    {#                                       class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "#}
                                    {#                                       data-type="{% if task.status == 2 %}with-title{% else %}task_delete_confirm{% endif %}"#}
                                    {#                                       title="Delete Task"><span class="sr-only">Delete Task</span> <i#}
                                    {#                                            class="fa fa-trash-o text-col-white"></i>#}
                                    {#                                    </a>#}
                                    {##}


                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        // SCript for delete user. here we are just taking the url of the user to delete and it will be using in dialog.js
        let delete_task_url = null;
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_task_url = "/team/module/" + $(this).data('module') + "/task/delete/" + $(this).data('task');
            console.log(delete_task_url);
        });
    </script>



{% endblock %}
