{% extends 'base/base_template.html' %}
{% load static %}
{% block main_content %}

    <div class="card open_task" style="padding-bottom: 5px">
        <div class="body">


            <div class=" ">
{#                {% ifequal user.groups.all.0 'Sales' %}#}
{##}
{#                {% endifequal %}#}


                {% if request.user.is_authenticated %}
                    <div class="dashboard-card-group"
                         style="width: 100%; display: flex; justify-content: space-around;">

                        {% if is_super_user_or_pm or is_tester %}
{#                            <div class="dashboard-card col-lg-2 col-md-6 no-padding no-shadow">#}
{#                                <a href="{% url 'team-list' %}">#}
{#                                    <div class="dashboard-card-body l-turquoise">#}
{#                                        <div class="h1 text-right mb-4">#}
{#                                            <i class="fa fa-sitemap text-light"></i>#}
{#                                            <i class="fa fa-users text-light"></i>#}
{#                                        </div>#}
{##}
{#                                        <div>#}
{#                                            <div class="h4 mb-0 text-light">#}
{#                                                <span class="count">#}
{#                                                       {{ members_in_team }}#}
{#                                                 </span>#}
{#                                            </div>#}
{#                                            <small#}
{#                                                    class="text-light text-uppercase font-weight-bold">My Team</small>#}
{#                                            <div class="progress progress-xs mt-3 mb-0 bg-light"#}
{#                                                 style="width: 40%; height: 5px;"></div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </div>#}

                            <div class="dashboard-card col-lg-2 col-md-6 no-padding no-shadow">
                                <a href="{% url 'tester-all-task' %}">
                                    <div class="dashboard-card-body l-slategray">
                                        <div class="h1 text-light text-right mb-4">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                        <div>
                                            <div class="h4 mb-0 text-light">
                                                <span class="count">{{ total_task_of_tester }}</span>
                                            </div>
                                            <small
                                                    class="text-light text-uppercase font-weight-bold   ">All
                                                Task</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-light"
                                                 style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="dashboard-card col-lg-2 col-md-6 no-padding no-shadow">
                                <a href="{% url 'tester-completed-task' %}">
                                    <div class="dashboard-card-body l-slategray">
                                        <div class="h1 text-light text-right mb-4">
                                            <i class="fa fa-server"></i>
                                        </div>
                                        <div>
                                            <div class="h4 mb-0 text-light">
                                                <span class="count">{{ completed_tasks_count_of_tester }}</span>
                                            </div>
                                            <small
                                                    class="text-light text-uppercase font-weight-bold   ">Completed
                                                Task</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-light"
                                                 style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="dashboard-card col-lg-2 col-md-6 no-padding no-shadow">
                                <a href="{% url 'tester-running-task' %}">
                                    <div class="dashboard-card-body l-coral">
                                        <div class="h1 text-light text-right mb-4">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                        <div>
                                            <div class="h4 mb-0 text-light">
                                                <span class="count">{{ running_tasks_count_of_tester }}</span>
                                            </div>
                                            <small
                                                    class="text-light text-uppercase font-weight-bold   ">Running
                                                Task</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-light"
                                                 style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}

                    </div>

                    </div>

                {% elif is_employee %}
                    <p class="text-center">Please wait. Project Manager will give you a role or inform a Project Manager.</p>

                {% endif %}
        </div>
    </div>


{% endblock %}
