{% extends 'base/base_template.html' %}
{% load static %}
{% block title %}
    Department: {{ selected_project.department.name }} :: Project: {{ selected_project.name }}
{% endblock %}
{% block main_content %}

    <div class="card open_task">
        <div class="header">
            <h2 style="font-size: 25px; margin-bottom: 10px !important;">Project Information</h2>
            <div>


                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-withicon">
                            <i class="fas fa-project-diagram"></i> Project</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-withicon"><i
                                class="fas fa-envelope-open-text"></i> Project Description</a></li>
                        {#                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-withicon"><i#}
                        {#                                class="fa fa-vcard"></i> Contact</a></li>#}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="Home-withicon">


                            <div class="card">
                                <div class="header">
                                    <h2>Project info</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-18">
                                        <li><i class="icon-book-open m-r-5"></i> Project Name: <span
                                                class="telegram-color p-1">{{ selected_project.name }}</span></li>

                                        <li><i class="fas fa-thermometer-half m-r-5"></i> Project Status: <span
                                                style="font-weight: bolder"
                                                class="badge text-white
                                                            {% if selected_project.status == 1 %}
                                                                 badge-default bg-secondary
                                                             {% elif selected_project.status == 2 %}
                                                                 badge-info bg-info
                                                             {% elif selected_project.status == 3 %}
                                                                 badge-primary bg-primary
                                                             {% elif selected_project.status == 4 %}
                                                                 badge-success bg-success
                                                             {% endif %}">{{ selected_project.get_status_display }}</span>
                                        </li>
                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Assigned Date: <span
                                                class="badge-primary badge">{{ selected_project.assigned_at|default_if_none:'' }}</span>
                                        </li>
                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Submission Date:
                                            <span class="badge badge-danger">
                                        {{ selected_project.get_day_left_to_submit }} days left to submit</span>
                                            <span class="badge-purple badge">{{ selected_project.delivery_date }}</span>

                                        </li>
                                        {% if selected_project.status == 4 %}
                                            <li><i class="fa fa-calendar-alt m-r-5"></i> Project Completed At:
                                                <span class="badge-success badge">{{ selected_project.completed_at }}</span>

                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="Profile-withicon">
                            <div class="card">
                                <div class="header">
                                    <h2>Project Description</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-15">
                                        <li style="text-align: left" class="align-left">
                                            <span>{{ selected_project.description|linebreaks }}</span>
                                        </li>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
            <br/>
            <br/>
            <br/>
            <a href="{% url 'module-create' selected_project.code %}">
                <button type="button" class="btn btn-success"><i
                        class="fa fa-plus-square"></i><span> Create New Module</span></button>
            </a>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h5>All Module List</h5>
            <div class="body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped dataTable"
                           id="datatable-pm-project_list" style="font-size: 13px;">
                        <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th>#</th>
                            <th>Module Name</th>
                            <th>Team</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>Assigned Date</th>
                            <th>Submission Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for module in module_list %}
                            <tr style="background-color: white;">
                                <td class="td-padding">{{ forloop.counter }}</td>
                                <td class="td-padding">
                                    {{ module.name|slice:":22" }}{% if module.name|length > 22 %}...{% endif %}</td>
                                <td class="td-padding">{{ module.assigned_team.name }}
                                    :: {{ module.assigned_team.get_team_leader }}</td>
                                <td class="td-padding">
                                    <span style="font-weight: bolder" class="badge text-white
                                                            {% if module.status == 1 %}
                                                                 badge-default bg-secondary
                                                             {% elif module.status == 2 %}
                                                                 badge-info bg-info
                                                             {% elif module.status == 3 %}
                                                                 badge-primary bg-primary
                                                             {% elif module.status == 4 %}
                                                                 badge-success bg-success
                                                             {% endif %}">{{ module.get_status_display }}</span>
                                </td>
                                <td class="td-padding">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: 30%; "></div>
                                    </div>
                                    <small>Completion: 0%</small>
                                </td>
                                <td class="td-padding">{{ module.assigned_at|default_if_none:'Not Assigned Yet' }}</td>
                                <td class="td-padding">{{ module.submission_date|date }}</td>
                                <td class="actions">
                                    {% if module.status >= 2 %}{% else %} <a
                                            href="{% url 'module-assign' selected_project.code  module.id %}">
                                        <button type="button"
                                                data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                                class="btn btn-primary" title="Assign Module"><span
                                                class="sr-only">Assign Project</span>
                                            <i class="fas fa-share-square"></i></button>
                                    </a>{% endif %}
                                    <a href="{% url 'module-update' selected_project.code module.id %}">
                                        <button type="button"
                                                data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                                class="btn btn-success" title="Edit Module"><span
                                                class="sr-only">Edit</span> <i
                                                class="fa fa-edit"></i></button>
                                    </a>
                                    <a id="confirm-button-url_module" data-project="{{ selected_project.code }}"
                                       data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                       data-module="{{ module.id }}"
                                       class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "
                                       data-type="{% if module.status >= 2 and module.status < 4 %}with-title{% else %}module_delete_confirm{% endif %}"
                                       data-status="{% if module.status == 3 %}running{% elif module.status == 2 %}assigned{% endif %}"
                                       title="Delete Module"><span class="sr-only">Delete Module</span> <i
                                            class="fas fa-trash-alt text-col-white"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        // SCript for delete user. here we are just taking the url of the user to delete and it will be using in dialog.js
        let delete_module_url = null;
        let status = null;
        let title = 'Module';
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_module_url = "/department/project/" + $(this).data('project') + "/module/delete/" + $(this).data('module');
            console.log(delete_module_url);
            status = $(this).data('status');
        });
    </script>



{% endblock %}
