{% extends 'base/base_template.html' %}
{% load static %}
{% block title %}
    Module Update - {{ selected_module.name }}
{% endblock %}
{% block main_content %}


    <div class="card open_task">
        <div class="header text-center">
            <h3>Update Module :: "{{ selected_module.name }}"</h3>
            <h5>Project :: "{{ selected_project.name }}"</h5>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn"
                        x-placement="bottom-end"
                        style="position: absolute; transform: translate3d(31px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form id="basic-form" method="POST"
                  action="{% url 'module-update' selected_project.code selected_module.id %}" novalidate=""
                  style="padding: 0 167px;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" value="{{ name }}" name="name" class="form-control " required>
                </div>

                <div class=" form-group w-100">
                    <label for="single-selection-client">Team</label>
                    <div class="multiselect_div">
                        <select id="single-selection-client" name="select_team"
                                class="multiselect multiselect-custom" data-parsley-required
                                data-parsley-trigger-after-failure="change"
                                data-parsley-errors-container="#error-singleselect">
                            <option value="">Select a Team</option>
                            {% for team in team_in_department %}
                                <option value="{{ team.id }}" {% if selected_module.assigned_team.id == team.id %}
                                        selected {% endif %}>{{ team.name }} :: {{ team.get_team_leader }}</option>
                            {% endfor %}
                        </select>
                        <p id="error-singleselect"></p>
                    </div>
                </div>


                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control " name="description" rows="3" cols="30"
                              required>{{ description }}</textarea>
                </div>

                <div class="form-group">
                    <label>Submission Date</label>
                    <div class="input-group">
                        <input id="submission_date" data-provide="datepicker" name="submission_date"
                               data-date-autoclose="true"
                               required validateDate value="{{ submission_date }}"
                               class="form-control" data-date-format="yyyy-mm-dd"
                               data-parsley-required data-parsley-trigger-after-failure="change"
                               data-parsley-errors-container="#error-date">
                    </div>
                    <p id="error-date"></p>
                </div>


                <div class=" form-group w-100">
                    <label for="single-selection-project_assign">Select Module Status</label>
                    <div class="multiselect_div">
                        <select {% if selected_module.status > 2 %}disabled {% endif %} id="single-selection-project_assign" name="module_status"
                            class="multiselect multiselect-custom"
{#                            data-parsley-required#}
                                data-parsley-trigger-after-failure="change"
                            data-parsley-errors-container="#error-singleselect-project_status">
                            <option disabled value="" selected>Select a status</option>
                            <option {% if selected_module.status > 2 %}disabled {% endif %}  value="1">Not Assigned</option>
                            <option {% if selected_module.status > 2 %}disabled {% endif %}  value="2" {% if module_status == 2 %} selected {% endif %}> Assigned</option>
                            <option value="3" disabled {% if module_status == 3 %} selected {% endif %}>Running</option>
                            <option value="4" disabled {% if module_status == 4 %} selected {% endif %}>Completed
                            </option>
                        </select>
                        <p id="error-singleselect-project_status"></p>
                    </div>
                </div>


                <br>
                <button type="submit" id="submit"
                        class="btn btn-primary font-weight-bold">Update
                </button>
            </form>
        </div>
    </div>
    <script>
        {#let date = new Date();#}
        {#date.setDate(date.getDate()-1);#}
        {##}
        {#$('#submission_date').datepicker({#}
        {#    startDate: date#}
        //{#});#}
    </script>

{% endblock %}