{% load static %}
<!-- VENDOR CSS -->
<link rel="stylesheet" href={% static "base/vendor/bootstrap/css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/animate-css/animate.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/font-awesome/css/font-awesome.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/chartist/css/chartist.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css" %}>
<link rel="stylesheet" href={% static "base/vendor/bootstrap-multiselect/bootstrap-multiselect.css" %}>
<link rel="stylesheet" href={% static "base/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}>
<link rel="stylesheet" href={% static "base/vendor/multi-select/css/multi-select.css" %}>
<link rel="stylesheet" href={% static "base/vendor/jquery-datatable/dataTables.bootstrap4.min.css" %}>
<link rel="stylesheet"
      href={% static "base/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css" %}>
<link rel="stylesheet"
      href={% static "base/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css" %}>
<link rel="stylesheet" href={% static "base/vendor/sweetalert/sweetalert.css" %}>


<!-- MAIN CSS -->
<link rel="stylesheet" href={% static "base/css/dashboard_style.css" %}>
<link rel="stylesheet" href={% static "base/css/main.css" %}>
<link rel="stylesheet" href={% static "base/css/color_skins.css" %}>
<link rel="stylesheet" href={% static "base/vendor/parsleyjs/css/parsley.css" %}>
<link rel="stylesheet" href={% static "base/css/custom.css" %}>