{% load static %}

<div id="leftsidebar" class="sidebar">
    <div class="sidebar-scroll">
        <nav id="leftsidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="align-items-center"><a href="./dashboard.html"><span>GM NAIM</span></a></li>
                <li class="active"><a href="./dashboard.html"><i
                        class="icon-home"></i><span>Dashboard</span></a>
                </li>
                <li class=""><a href="./client_list.html"><i class="icon-home"></i><span>Client
                                        List</span></a>
                </li>
                <li class=""><a href="./project_list.html"><i class="icon-home"></i><span>Project
                                        List</span></a>
                </li>
                <li class=""><a href="./project_add.html"><i class="icon-home"></i><span>Project
                                        Add</span></a>
                </li>
                <li class=""><a href="./client_list.html"><i class="icon-home"></i><span>Client
                                        List</span></a>
                </li>
                <li class=""><a href="./client_list.html"><i class="icon-home"></i><span>Client
                                        List</span></a>
                </li>
                <li class="top">
                    <a href="#Maps" class="has-arrow"><i class="icon-map"></i> <span>Maps</span></a>
                    <ul>
                        <li><a href="map-google.html">Google Map</a></li>
                        <li><a href="map-yandex.html">Yandex Map</a></li>
                        <li><a href="map-jvectormap.html">jVector Map</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>