{% load static %}


<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-brand">
            <a href="{% url 'dashboard' %}">
                <img src={% static "base/images/logo-icon.svg" %} alt="OPTS-Logo" class="img-responsive logo">
                <span class="name">OPTS</span>
            </a>
        </div>

        <div class="navbar-right">
            <ul class="list-unstyled clearfix mb-0">
                <li>
                    <div class="navbar-btn btn-toggle-show">
                        <button type="button" class="btn-toggle-offcanvas"><i
                                class="lnr lnr-menu fa fa-bars"></i></button>
                    </div>
                    <a href="javascript:void(0);" class="btn-toggle-fullwidth btn-toggle-hide"><i
                            class="fa fa-bars"></i></a>
                </li>
                <li>
                    <form id="navbar-search" class="navbar-form search-form">
                        <input value="" class="form-control" placeholder="Search here..." type="text">
                        <button type="button" class="btn btn-default"><i
                                class="icon-magnifier"></i></button>
                    </form>
                </li>
                <li>
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu"
                                   data-toggle="dropdown">
                                    <i class="icon-bell" style="font-size: 18px"></i>
                                    {#                                    {% if is_department_head and user_notification_count %}#}
                                    {#                                        <span class="notification-dot text-center"#}
                                    {#                                              style="width: 15px; height: 15px; font-size: 9px; color: #fff">#}
                                    {#                                        {{ user_notification_count }}</span>#}
                                    {#                                    {% elif is_team_leader and user_notification_count %}#}
                                    {#                                        <span class="notification-dot text-center"#}
                                    {#                                              style="width: 15px; height: 15px; font-size: 9px; color: #fff">#}
                                    {#                                        {{ user_notification_count }}</span>#}
                                    {#                                    {% endif %}#}
                                    {% if user_notification_count %}
                                        <span class="notification-dot text-center"
                                              style="width: 15px; height: 15px; font-size: 9px; color: #fff">
                                        {{ user_notification_count }}</span>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu animated bounceIn notifications">
                                    {#                                    {% if is_department_head %}#}
                                    {#                                        {% if user_notification_count %}#}
                                    {#                                            <li class="header"><strong>You have {{ user_notification_count }} new#}
                                    {#                                                Notification{{ user_notification_count|pluralize }}</strong></li>#}
                                    {#                                        {% else %}#}
                                    {#                                            <li class="header"><strong>You don't have any new Notifications</strong>#}
                                    {#                                            </li>#}
                                    {#                                        {% endif %}#}
                                    {#                                        {% if user_notification_item is not None %}#}
                                    {#                                            {% for project in user_notification_item %}#}
                                    {#                                                <li>#}
                                    {#                                                    <a href="{% url 'department-all-project' %}">#}
                                    {#                                                        <div class="media">#}
                                    {#                                                            <div class="media-left">#}
                                    {#                                                                <i class="fa fa-tasks text-warning"></i>#}
                                    {#                                                            </div>#}
                                    {#                                                            <div class="media-body">#}
                                    {#                                                                <p class="text">New Project ::#}
                                    {#                                                                    <strong>{{ project.name }}</strong></p>#}
                                    {#                                                                <span class="timestamp">Delivery Date: {{ project.delivery_date }}</span>#}
                                    {#                                                            </div>#}
                                    {#                                                        </div>#}
                                    {#                                                    </a>#}
                                    {#                                                </li>#}
                                    {#                                            {% endfor %}#}
                                    {#                                        {% endif %}#}


                                    {% if user_notification_count %}
                                        <li class="header"><strong>You have {{ user_notification_count }} new
                                            Notification{{ user_notification_count|pluralize }}</strong></li>
                                    {% else %}
                                        <li class="header"><strong>You don't have any new Notifications</strong>
                                        </li>
                                    {% endif %}
                                    {% if user_notification_item is not None %}
{#                                        {% for item in user_notification_item %}#}
{#                                            <li>#}
{#                                                <a href="#}
{#                                                        {% if is_department_head %}#}
{#                                                            {% url 'department-project-details' item.code %}#}
{#                                                        {% elif is_team_leader %}#}
{#                                                            {% url 'team-module-details' item.id %}#}
{#                                                        {% elif is_team_member %}#}
{#                                                            {% url 'member-task-details' item.id %}#}
{#                                                        {% elif is_tester %}#}
{#                                                            {% url 'tester-task-details' item.id %}#}
{#                                                        {% endif %} ">#}
{#                                                    <div class="media">#}
{#                                                        <div class="media-left">#}
{#                                                            <i class="fa fa-tasks text-warning"></i>#}
{#                                                        </div>#}
{#                                                        <div class="media-body">#}
{#                                                            <p class="text">New Task ::#}
{#                                                                <strong>{{ item.name }}</strong></p>#}
{#                                                            {% if is_department_head %}#}
{#                                                                <span class="timestamp">Delivery Date: {{ item.delivery_date }}</span>#}
{#                                                            {% else %}#}
{#                                                                <span class="timestamp">Submission Date: {{ item.submission_date }}</span>#}
{#                                                            {% endif %}#}
{##}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            </li>#}
{##}
{#                                        {% endfor %}#}

















                                        {% for item in user_notification_item %}
                                            <li>
                                                <a style="color:#d4d4d4;" href="
                                                        {% if is_department_head %}
                                                            {% url 'department-project-details' item.project.code %}
                                                        
                                                        {% elif is_team_leader %}
                                                            {% url 'team-module-details' item.module.id %}
                                                        {% elif is_team_member %}
                                                            {% url 'member-task-details' item.task.id %}
                                                        {% elif is_tester %}
                                                            {% url 'tester-task-details' item.submitted_task.id %}
                                                        {% endif %} ">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <i class="fa fa-tasks text-warning"></i>
                                                        </div>
                                                        <div class="media-body" style="color:#d4d4d4;">
                                                        {% if is_department_head %}
                                                            <p class="text">{{ item.status }} ::
                                                                <strong>{{ item.project.name }}</strong></p>
{#                                                        {% elif is_team_leader %}#}
{#                                                            <p class="text">{{ item.status }} ::#}
{#                                                                <strong>{{ item.module.name }}</strong></p>#}
                                                        {% elif is_team_leader and item.task.status == 7 %}
                                                                <p class="text">{{ item.status }} ::
                                                                <strong>{{ item.task.name }}</strong></p>
                                                        {% elif is_team_leader %}
                                                                <p class="text">{{ item.status }} ::
                                                                <strong>{{ item.module.name }}</strong></p>
                                                        {% elif is_team_member %}
                                                            <p class="text">{{ item.status }} ::
                                                                <strong>{{ item.task.name }}</strong></p>
                                                        {% elif is_tester %}
                                                             <p class="text" >{{ item.status }} ::
                                                                <strong>{{ item.submitted_task.task.name }}</strong></p>
                                                        {% endif %}
        
                                                            {% if is_department_head %}
                                                                <span style="color:#d4d4d4;" class="timestamp">Assigned at: {{ item.project.assigned_at }}</span>
                                                            {% elif is_team_leader and item.task.status == 7 %}
                                                              {#    if the user is leader and the task is completed then .....    #}
                                                             <span style="color:#d4d4d4;" class="timestamp">Completed at: {{ item.task.completed_at }}</span>
                                                           {% elif is_team_leader %}
                                                             <span style="color:#d4d4d4;" class="timestamp">Assigned at: {{ item.module.assigned_at }}</span>
                                                            {% elif is_team_member %}
                                                                 <span style="color:#d4d4d4;" class="timestamp">Assigned at: {{ item.task.assigned_at }}</span>
                                                            {% elif is_tester %}
{#                                                                for now giving task submission date as didn't create any sub. date for tester. #}
                                                                    <span style="color:#d4d4d4;" class="timestamp">Assigned at: {{ item.submitted_task.task.submitted_to_tester_at }}</span>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </a>
                                            </li>

                                        {% endfor %}




























                                        <li class="footer"><a href="
                                                            {% if is_department_head %}
                                                            {% url 'department-all-project' %}
                                                            {% elif is_team_leader %}
                                                            {% url 'team-all-module' %}
                                                            {% elif is_team_member %}
                                                            {% url 'member-all-task'%}
                                                            {% elif is_tester %}
                                                            {% url 'tester-all-task'%}
                                                            {% endif %}" class="more">See all
                                            notifications</a></li>
                                    {% endif %}

                                    {#                                    {% elif is_team_leader %}#}
                                    {#                                    {% if user_notification_count %}#}
                                    {#                                        <li class="header"><strong>You have {{ user_notification_count }} new#}
                                    {#                                            Notification{{ user_notification_count|pluralize }}</strong></li>#}
                                    {#                                    {% else %}#}
                                    {#                                        <li class="header"><strong>You don't have any new Notifications</strong>#}
                                    {#                                        </li>#}
                                    {#                                    {% endif %}#}
                                    {##}
                                    {#                                    {% if user_notification_item is not None %}#}
                                    {#                                        {% for module in user_notification_item %}#}
                                    {#                                            <li>#}
                                    {#                                                <a href="{% url 'team-all-module' %}">#}
                                    {#                                                    <div class="media">#}
                                    {#                                                        <div class="media-left">#}
                                    {#                                                            <i class="fa fa-tasks text-warning"></i>#}
                                    {#                                                        </div>#}
                                    {#                                                        <div class="media-body">#}
                                    {#                                                            <p class="text">New Project ::#}
                                    {#                                                                <strong>{{ module.name }}</strong></p>#}
                                    {#                                                            <span class="timestamp">Submission Date: {{ module.submission_date }}</span>#}
                                    {#                                                        </div>#}
                                    {#                                                    </div>#}
                                    {#                                                </a>#}
                                    {#                                            </li>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    {% endif %}#}


{#                                                                        <li class="footer"><a href="javascript:void(0);" class="more">See all#}
{#                                                                            notifications</a></li>#}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu"
                                   data-toggle="dropdown">
                                    <img class="rounded-circle" src={{ request.user.profile_picture.url }}
                                            width="30" height="30" alt="">
                                </a>
                                <div class="dropdown-menu animated flipInY user-profile">
                                    <div class="d-flex p-3 align-items-center">
                                        <div class="drop-left m-r-10">
                                            <img src={{ request.user.profile_picture.url }} class=" rounded
                                                 width="50" height="50" alt="">
                                        </div>
                                        <div class="drop-right">
                                            <h4>{{ request.user.get_full_name }}</h4>
                                            <p class="user-name">{{ request.user.email }}</p>
                                        </div>
                                    </div>
                                    <div class="m-t-10 p-3 drop-list">
                                        <ul class="list-unstyled">
                                            <li><a href="page-profile.html"><i class="icon-user"></i>My
                                                Profile</a></li>
                                            <li><a href="app-inbox.html"><i
                                                    class="icon-envelope-open"></i>Messages</a></li>
                                            <li><a href="javascript:void(0);"><i
                                                    class="icon-settings"></i>Settings</a></li>
                                            <li class="divider"></li>
                                            {% if request.user.is_authenticated %}
                                                <li><a href="{% url 'logout' %}"><i
                                                        class="icon-power"></i>Logout</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
