{% extends 'base/base_template.html' %}
{% load static %}

{% block main_content %}

    <div class="card open_task">
        <div class="header text-center">
            <h2>Add Client</h2>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn"
                        x-placement="bottom-end"
                        style="position: absolute; transform: translate3d(31px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form id="basic-form" method="post" novalidate="" style="padding: 0 167px;">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Client ID</label>
                    <input type="text" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="number" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Comment</label>
                    <textarea class="form-control " rows="3" cols="30"></textarea>
                </div>

                <div class="form-group">
                    <label>Radio Button</label>
                    <br>
                    <label class="fancy-radio">
                        <input type="radio" name="gender" value="male" required=""
                               data-parsley-errors-container="#error-radio"
                               data-parsley-multiple="gender">
                        <span><i></i>Male</span>
                    </label>
                    <label class="fancy-radio">
                        <input type="radio" name="gender" value="female"
                               data-parsley-multiple="gender">
                        <span><i></i>Female</span>
                    </label>
                    <p id="error-radio"></p>
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Validate</button>
            </form>
        </div>
    </div>

{% endblock %}