{% extends 'base/base_template.html' %}
{% load static %}

{% block main_content %}

    <div class="card open_task">
        <div class="header text-center">
            <h2>Update Employee:: {{ employee.username }} </h2>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn"
                        x-placement="bottom-end"
                        style="position: absolute; transform: translate3d(31px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form id="basic-form" action="{% url 'employee-update' employee.username %}" method="POST" novalidate=""
                  enctype="multipart/form-data" style="padding: 0 167px;">
                {% csrf_token %}
                <div class="form-group">
                    <label>First Name</label>
                    <input name="first_name" type="text" value="{{ employee.first_name|default_if_none:'' }}"
                           class="form-control " required="">
                </div>

                <div class="form-group">
                    <label>Middle Name</label>
                    <input name="middle_name" type="text" value="{{ employee.middle_name|default_if_none:'' }}"
                           class="form-control ">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input name="last_name" type="text" value="{{ employee.last_name|default_if_none:'' }}"
                           class="form-control ">
                </div>


                <div class="form-group">
                    <label>Username</label>
                    <input name="username" type="text" value="{{ employee.username|default_if_none:'' }}"
                           class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" type="email" value="{{ employee.email|default_if_none:'' }}"
                           class="form-control " required="">
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input name="phone" type="number" value="{{ employee.mobile_number|default_if_none:'' }}"
                           class="form-control ">
                </div>

                <div class=" form-group w-100">
                    <label for="single-selection_role">Role</label>
                    <div class="multiselect_div">
                        <select id="single-selection_role" name="role"
                                class="multiselect multiselect-custom" data-parsley-required
                                data-parsley-trigger-after-failure="change"
                                data-parsley-errors-container="#error-singleselect">
                            <option value="">Select a role</option>
                            {% for role in role_list %}

                                <option value="{{ role.id }}"
                                        {% if employee.role.id == role.id %}selected{% endif %}>{{ role.name }}</option>

                            {% endfor %}
                        </select>
                        <p id="error-singleselect"></p>
                    </div>
                </div>




                <div id="all_department_select_id" class=" form-group w-100">
                        <label for="single-selection">Department</label>
                        <div class="multiselect_div">
                            <select id="single-selection" name="department"
                                    class="multiselect multiselect-custom" data-parsley-required
                                    data-parsley-trigger-after-failure="change"
                                    data-parsley-errors-container="#error-singleselect2">
                                <option value="">Select a Department</option>

                                {% for e_department in department_list %}
                                    <option value="{{ e_department.id }}"
                                            {% if employee.department.id == e_department.id %} selected {% endif %}
                                    >{{ e_department.name }}</option>
                                {% endfor %}

                            </select>
                            <p id="error-singleselect2"></p>
                        </div>
                </div>

                <!-- this selection is for if select department head role -->
                <div id="free-department-select_id" hidden class=" form-group w-100" >
                    <label for="single-selection-2">Department</label>
                    <div class="multiselect_div">
                        <select id="single-selection-2" name="department_"
                                class="multiselect multiselect-custom">
                            <option value="">Select a Department</option>
                            {% for free_department in free_department_head %}
                                <option {% if free_department.name == department.name %} selected {% endif %}
                                                                                         value="{{ free_department.id }}">{{ free_department.name }}</option>
                            {% endfor %}
                        </select>
                        <p id="error-singleselect3"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <textarea name="address" class="form-control "
                              rows="3" cols="30">{{ employee.address|default_if_none:'' }}</textarea>
                </div>

                <div class="form-group">
                    <label>Radio Button</label>
                    <br>
                    <label class="fancy-radio">
                        <input id="radio-gender1" type="radio" name="gender" value="1" required=""
                               data-parsley-errors-container="#error-radio"
                               data-parsley-multiple="gender">
                        <span><i></i>Male</span>
                    </label>
                    <label class="fancy-radio">
                        <input id="radio-gender2" type="radio" name="gender" value="2"
                               data-parsley-multiple="gender">
                        <span><i></i>Female</span>
                    </label>
                    <label class="fancy-radio">
                        <input id="radio-gender3" type="radio" name="gender" value="3"
                               data-parsley-multiple="gender">
                        <span><i></i>Other</span>
                    </label>
                    <p id="error-radio"></p>
                </div>

                <div class="form-group">
                    <label>Profile Picture</label>
                    <input name="profile_picture" type="file" id="dropify-event"
                           data-default-file={{ employee.profile_picture.url }}>
                    <p id="dropify-event"></p>
                </div>


                {#this  input is for getting the json data from the view#}
                <input value="{{ all_department }}" id="all_department_input" hidden>
                <input value="{{ existence_department_head }}" id="existence_department_input" hidden>

                <br>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>


    <script>
        document.getElementById("radio-gender" + "{{ employee.gender }}").checked = true;

    </script>

    <script>
        // ============  Department options change =================


        $(document).ready(function () {
            let all_department = JSON.parse($("#all_department_input").val());
            let existence_department_head = $("#existence_department_input").val();
            console.log(existence_department_head, typeof existence_department_head);
            let remove_extra_char = existence_department_head.replace(/['\[\]]+/g, '');
            console.log(remove_extra_char);
            let existing_dep_array = remove_extra_char.split(', ');
            console.log(existing_dep_array);

            $("#single-selection_role").change(function (e) {
                e.preventDefault();
                let selected_role = document.querySelector('#single-selection_role option:checked').innerText;
                let department_select = document.querySelector('#single-selection');
                if (selected_role.toLowerCase() === 'department head') {
                    e.preventDefault();
                    console.log(selected_role, 'selected--09');
                    console.log('*************** ', e);
                    $("#all_department_select_id").hide();
                    $("#free-department-select_id").removeAttr("hidden");
                    $("#free-department-select_id").show();

                } else if (selected_role.toLowerCase() === 'admin') {
                    e.preventDefault();
                    console.log(selected_role)
                    $("#free-department-select_id").hide();
                    console.log('department head is not selected');
                    $("#all_department_select_id").show();
                }
            });
            $("#submit-btn").click(function(){
                if ($("#single-selection").val() === ''){
                    $(this).attr('disabled', 'disabled');
                    console.log('single-selection disabled--------------------');
                    console.log($("#single-selection-2").val())
                }
                else if($("#single-selection-2").val() === ''){
                    $(this).attr('disabled', 'disabled');
                    console.log('single-selection 2 disabled--------------------');
                    console.log($("#single-selection").val())
                }
                $("#basic-form").submit();
                console.log('form submitted------------------------');
            });

        });


    </script>

{% endblock %}