{% extends 'base/base_template.html' %}
{% load static %}

{% block main_content %}

    <div class="col-lg-12 col-md-12">
        <div class="card open_task">
            <div class="header">
                <a href="{% url 'employee-add' %}"
                >
                    <button type="button" class="btn btn-success"><i
                            class="fa fa-plus-square"></i><span>  Add Employee</span></button>
                </a>
                <ul class="header-dropdown">
                    <li><a href="javascript:void(0);" data-toggle="cardloading"
                           data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen"><i
                            class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h4>Employee List</h4>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped dataTable"
                               id="datatable-client_list">
                            <thead>
                            <tr class="bg-dark" style="color: white;">
                                <th>#</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Join Date</th>
                                <th>Actions</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for employee in employee_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ employee.get_full_name }}</td>
                                    <td>{{ employee.role }}</td>
                                    <td>{{ employee.mobile_number }}</td>
                                    <td>{{ employee.email }}</td>
                                    <td>{{ employee.date_joined|date }}</td>
                                    <td class="actions">
                                        <a href="{% url 'employee-update' employee.username %}">
                                            <button type="button"
                                                    class="btn btn-success" title="Edit"><span
                                                    class="sr-only">Edit</span> <i
                                                    class="fa fa-edit"></i></button>
                                        </a>

                                        <a id="confirm-button-url_a" data-username="{{ employee.username }}"
                                           class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "
                                           data-type="confirm"
                                           title="Delete"><span class="sr-only">Delete</span> <i
                                                class="fa fa-trash-o text-col-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let delete_user_url = null;
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_user_url = "/admin/employee/delete/" + $(this).data('username');
            console.log(delete_user_url);
        });
    </script>

{% endblock %}
