{% extends 'base/base_template.html' %}
{% load static %}

{% block main_content %}

    <div class="card open_task">
        <div class="header text-center">
            <h2>Add Employee</h2>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn"
                        x-placement="bottom-end"
                        style="position: absolute; transform: translate3d(31px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form id="basic-form" action="{% url 'employee-add' %}" method="POST" novalidate=""
                  enctype="multipart/form-data" style="padding: 0 167px;">
                {% csrf_token %}
                <div class="form-group">
                    <label>First Name</label>
                    <input name="first_name" type="text" value="{{ first_name }}" class="form-control " required="">
                </div>

                <div class="form-group">
                    <label>Middle Name</label>
                    <input name="middle_name" type="text" value="{{ middle_name }}" class="form-control ">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input name="last_name" type="text" value="{{ last_name }}" class="form-control ">
                </div>


                <div class="form-group">
                    <label>Username</label>
                    <input name="username" type="text" value="{{ username }}" class="form-control " required="">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" type="email" value="{{ email }}" class="form-control " required="">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control " name="password" id="password" required=""
                           value="{{ default_password }}" readonly>

                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input name="phone" type="number" value="{{ phone }}" class="form-control " required="">
                </div>

                <div class=" form-group w-100">
                    <label for="single-selection_role">Role</label>
                    <div class="multiselect_div">
                        <select id="single-selection_role" name="role"
                                class="multiselect multiselect-custom select_role" data-parsley-required
                                data-parsley-trigger-after-failure="change"
                                data-parsley-errors-container="#error-singleselect">
                            <option value="">Select a role</option>
                            {% for e_role in role_list %}
                                <option {% if e_role.name == role.name %} selected {% endif %}
                                                                          value="{{ e_role.id }}">{{ e_role.name }}</option>
                            {% endfor %}
                        </select>
                        <p id="error-singleselect"></p>
                    </div>
                </div>

                <div id="all_department_select_id" class=" form-group w-100">
                    <label for="single-selection">Department</label>
                    <div class="multiselect_div">
                        <select id="single-selection" name="department"
                                class="multiselect multiselect-custom"
                                data-parsley-trigger-after-failure="change"
                                data-parsley-errors-container="#error-singleselect2">
                            <option value="">Select a Department</option>
                                                        {% for e_department in department_list %}
                                                            <option {% if e_department.name == department.name %} selected {% endif %}
                                                                                                                  value="{{ e_department.id }}">{{ e_department.name }}</option>
                                                        {% endfor %}
                        </select>
                        <p id="error-singleselect2"></p>
                    </div>
                </div>

                <!-- this selection is for if select department head role -->
                                <div id="free-department-select_id" hidden class=" form-group w-100" >
                                    <label for="single-selection-2">Department</label>
                                    <div class="multiselect_div">
                                        <select id="single-selection-2" name="department_h"
                                                class="multiselect multiselect-custom"
                                                data-parsley-trigger-after-failure="change"
                                                data-parsley-errors-container="#error-singleselect3">
                                            <option value="">Select a Department</option>
                                            {% for free_department in free_department_head %}
                                                <option {% if free_department.name == department.name %} selected {% endif %}
                                                        value="{{ free_department.id }}">{{ free_department.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <p id="error-singleselect3"></p>
                                    </div>
                                </div>

                <div class="form-group">
                    <label for="textarea-address">Address</label>
                    <textarea id="textarea-address" name="address" class="form-control " rows="3"
                              cols="30">{{ address }}</textarea>
                </div>

                <div class="form-group">
                    <label>Radio Button</label>
                    <br>
                    <label class="fancy-radio">
                        <input id="radio-gender1" type="radio" name="gender" value="1" required=""
                               data-parsley-errors-container="#error-radio"
                               data-parsley-multiple="gender">
                        <span><i></i>Male</span>
                    </label>
                    <label class="fancy-radio">
                        <input id="radio-gender2" type="radio" name="gender" value="2"
                               data-parsley-multiple="gender">
                        <span><i></i>Female</span>
                    </label>
                    <label class="fancy-radio">
                        <input id="radio-gender3" type="radio" name="gender" value="3"
                               data-parsley-multiple="gender">
                        <span><i></i>Other</span>
                    </label>
                    <p id="error-radio"></p>
                </div>

                <div class="form-group">
                    <label>Profile Picture</label>
                    <input name="profile_picture" type="file" id="dropify-event"
                           data-default-file={% static 'base/images/default_user.png' %}>
                    <p id="dropify-event"></p>
                </div>
                {#this is input is for getting the json data from the view#}
                <input value="{{ all_department }}" id="all_department_input" hidden>
                <input value="{{ existence_department_head }}" id="existence_department_input" hidden>
                <br>
                <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("radio-gender" + "{{ gender }}").checked = true;

        console.log("{{ all_department }}")

    </script>

    <script>
        // ============  Department options change =================


        $(document).ready(function () {
            let all_department = JSON.parse($("#all_department_input").val());
            let existence_department_head = $("#existence_department_input").val();
            console.log(existence_department_head, typeof existence_department_head);

            let remove_extra_char = existence_department_head.replace(/['\[\]]+/g, '');
            console.log(remove_extra_char);
            let existing_dep_array = remove_extra_char.split(', ');
            console.log(existing_dep_array);

            {#let all_department_list = [];#}
            {#$.each(all_department, function (key, value) {#}
            {#    all_department_list.push('<option value=' + value.id + '>' + value.name + '</option>'); // creating the options and and adding to a array#}
           // {#});#}

          //  $('#single-selection').append(all_department_list);  // adding the options to the select..


            $("#single-selection_role").change(function (e) {
                e.preventDefault();

                let selected_role = document.querySelector('#single-selection_role option:checked').innerText;

                let department_select = document.querySelector('#single-selection');
                if (selected_role.toLowerCase() === 'department head') {
                    e.preventDefault();

                    console.log(selected_role, 'selected--09');
                    {#$("#single-selection").empty();#}
                    console.log('*************** ', e);

                    $("#all_department_select_id").hide();
                    $("#all_department_select_id").attr('hidden');
                    $("#free-department-select_id").show();
                    $("#free-department-select_id").removeAttr("hidden");

                    //  let all_department_list = [];
                   // all_department_list = [];

                    {#$.each(existing_dep_array, function (i, name) {#}
                    {#$('#single-selection').remove(name);#}
                    {#    let aaa = $('#single-selection option').filter(function () {#}
                    {#        return $(this).html() === name;#}
                    {#    });#}
                    {#    aaa.prop('disabled', true);#}
                    {#    console.log(aaa, '===========================================')#}
                    //{#});#}
                    {#$('#single-selection').empty().multiSelect('[]');#}
                    {#$.each(all_department, function (key, value) {#}
                        {#$("#single-selection option[value='option1']").remove();#}
                    {#    if (!existing_dep_array.includes(value.name)) {#}
                    {#        //console.log(existing_dep_array, value.name);#}
                    {#        console.log(!existing_dep_array.includes(value.name), value.name, '------------');#}
                    {#        all_department_list.push('<option value=' + value.id + '>' + value.name + '</option>'); // creating the options and and adding to a array#}
                    {#    }#}
                   // {#});#}
                   // $('#single-selection').append(all_department_list).multiSelect('refresh')  // adding the options to the select..


                } else {
                    e.preventDefault();
                    $("#all_department_select_id").show();
                    $("#all_department_select_id").removeAttr('hidden');
                    $("#free-department-select_id").hide();
                    $("#free-department-select_id").attr("hidden");
                }

            });
        });


    </script>

{% endblock %}