{% extends 'base/base_template.html' %}
{% load static %}
{% block main_content %}

    <div class="card open_task">
        <div class="header">
            {#            <a href="{% url 'project-add' %}">#}
            {#                <button type="button" class="btn btn-success"><i#}
            {#                        class="fa fa-plus-square"></i><span> Add New Project</span></button>#}
            {#            </a>#}
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h4> Running Module List</h4>
            <div class="body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped dataTable"
                           id="datatable-pm-project_list" style="font-size: 13px">
                        <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th class="td-padding">#</th>
                            <th class="td-padding">Module Name</th>
                            <th class="td-padding">Project Name</th>
                            <th class="td-padding">Status</th>
                            <th class="td-padding">Progress</th>
                            <th class="td-padding">Assigned Date</th>
                            <th class="td-padding">Submission Date</th>
                            <th class="td-padding">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for module in running_modules %}
                            <tr style="background-color: white;">
                                <td>{{ forloop.counter }}</td>
                                <td class="td-padding">{{ module.name|slice:":20" }}{% if module.name|length > 20 %}...{% endif %}</td>
                                <td class="td-padding">{{ module.project.name|slice:":20" }}{% if module.project.name|length > 20 %}...{% endif %}</td>
                                <td class="td-padding">
                                     <span  style="font-weight: bolder"  class="badge
                                                             {% if module.status == 1 %}
                                                                 badge-default
                                                             {% elif module.status == 2 %}
                                                                 badge-info
                                                             {% elif module.status == 3 %}
                                                                 badge-primary
                                                             {% elif module.status == 4 %}
                                                                 badge-success
                                                             {% endif %}">{{ module.get_status_display }}</span>
                                </td>
                                <td class="td-padding">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%; "></div>
                                    </div>
                                    <small>Completion: 0%</small>
                                </td>
                                <td>{{ module.assigned_at }}</td>
                                <td {% if module.get_day_left_to_submit < 15 %} style="color: red;" {% endif %}>{{ module.submission_date|date }} <br>
                                    {{ module.get_day_left_to_submit }} days left</td>
                                <td class="actions">
                                    {#                                    <a {% if project.status == 2 %}{% else %}href="{% url 'project-assign' project.code %}"{% endif %}>#}
                                    {#                                        <button type="button"#}
                                    {#                                                class="btn btn-primary" title="Assign Project"><span#}
                                    {#                                                class="sr-only">Assign Project</span> <i#}
                                    {#                                                class="fa fa-share-square-o"></i></button>#}
                                    {#                                    </a>#}
                                    <a href="{% url 'team-module-details' module.id %}">
                                        <button type="button"
                                                class="btn btn-success" title="Details"><span
                                                class="">Details</span> <i
                                                class="fa fa-edit"></i></button>
                                    </a>
                                    {#                                    <a id="confirm-button-url_project" data-project="{{ project.code }}"#}
                                    {#                                       class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "#}
                                    {#                                       data-type="team_delete_confirm"#}
                                    {#                                       title="Delete"><span class="sr-only">Delete</span> <i#}
                                    {#                                            class="fa fa-trash-o text-col-white"></i>#}
                                    {#                                    </a>#}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        // SCript for delete user. here we are just taking the url of the user to delete and it will be using in dialog.js
        let delete_project_url = null;
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_project_url = "/project/delete/" + $(this).data('project');
            console.log(delete_project_url);
        });
    </script>



{% endblock %}
