{% extends 'base/base_template.html' %}
{% load static %}
{% block title %}
    Module: {{ selected_module.name }} - Details
{% endblock %}
{% block main_content %}


    <div class="card open_task">
        <div class="header">
            <h2 style="font-size: 25px; margin-bottom: 10px !important;">Module Information</h2>
            <div>

                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Module-withicon">
                            <i class="fas fa-project-diagram"></i> Module</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Module-description-withicon"><i
                                class="fas fa-envelope-open-text"></i> Module Description</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Project-withicon">
                            <i class="fas fa-project-diagram"></i> Project</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#project-description-withicon"><i
                                class="fas fa-envelope-open-text"></i> Project Description</a></li>
                        {#                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-withicon"><i#}
                        {#                                class="fa fa-vcard"></i> Contact</a></li>#}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="Module-withicon">
                            <div class="card">
                                <div class="header">
                                    <h2>Module general info</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-18">
                                        <li><i class="icon-book-open m-r-5"></i> Module Name: <span
                                                class="telegram-color p-1">{{ selected_module.name }}</span></li>

                                        <li><i class="fas fa-thermometer-half m-r-5"></i> Module Status: <span
                                                style="font-weight: bolder"
                                                class="badge {% if selected_module.status == 1 %}
                                                                 badge-default bg-secondary
                                                             {% elif selected_module.status == 2 %}
                                                                 badge-info
                                                             {% elif selected_module.status == 3 %}
                                                                 badge-primary
                                                             {% elif selected_module.status == 4 %}
                                                                 badge-success
                                                             {% endif %}">{{ selected_module.get_status_display }}</span>
                                        </li>
                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Module Assigned Date: <span
                                                class="badge-primary badge">{{ selected_module.assigned_at|default_if_none:'' }}</span>
                                        </li>
                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Module Submission Date:
                                            <span class="badge badge-danger">
                                        {{ selected_module.get_day_left_to_submit }} days left to submit</span>
                                            <span class="badge-purple badge">{{ selected_module.submission_date }}</span>

                                        </li>
                                        {% if selected_module.status == 4 %}
                                            <li><i class="fa fa-calendar-alt m-r-5"></i> Module Completed At:
                                                <span class="badge-success badge">{{ selected_module.completed_at }}</span>
                                            </li>
                                        {% endif %}
                                        <li><i class="fas fa-tasks m-r-5"></i> Total Task Created:
                                            <span class="badge-success badge">{{ task_list.count }}</span>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="Module-description-withicon">
                            <div class="card">
                                <div class="header">
                                    <h2>Module Description</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-15">
                                        <li style="text-align: left" class="align-left">
                                            <span>{{ selected_module.description|linebreaks }}</span>
                                        </li>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane show " id="Project-withicon">
                            <div class="card">
                                <div class="header">
                                    <h2>Project of the module</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-18">
                                        <li><i class="icon-book-open m-r-5"></i> Project Name: <span
                                                class="telegram-color p-1">{{ selected_module.project.name }}</span></li>

                                        <li><i class="fas fa-thermometer-half m-r-5"></i> Project Status: <span
                                                style="font-weight: bolder"
                                                class="badge text-white
                                                            {% if selected_module.project.status == 1 %}
                                                                 badge-default  bg-secondary
                                                             {% elif selected_module.project.status == 2 %}
                                                                 badge-info bg-info
                                                             {% elif selected_module.project.status == 3 %}
                                                                 badge-primary bg-primary
                                                             {% elif selected_module.project.status == 4 %}
                                                                 badge-success bg-success
                                                             {% endif %}">{{ selected_module.project.get_status_display }}</span>
                                        </li>
{#                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Assigned Date: <span#}
{#                                                class="badge-primary badge">{{ selected_module.project.assigned_at|default_if_none:'' }}</span>#}
{#                                        </li>#}
{#                                        <li><i class="fa fa-calendar-alt m-r-5"></i> Project Submission Date:#}
{#                                            <span class="badge badge-danger">#}
{#                                        {{ selected_module.project.get_day_left_to_submit }} days left to submit</span>#}
{#                                            <span class="badge-purple badge">{{ selected_module.project.delivery_date }}</span>#}
{##}
{#                                        </li>#}
                                        {% if selected_module.project.status == 4 %}
                                            <li><i class="fa fa-calendar-alt m-r-5"></i> Project Completed At:
                                                <span class="badge-success badge">{{ selected_module.project.completed_at }}</span>

                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="project-description-withicon">
                            <div class="card">
                                <div class="header">
                                    <h2>Project Description</h2>
                                </div>
                                <div class="body col-lg-12 col-md-12">
                                    <ul class=" list-unstyled basic-list font-15">
                                        <li style="text-align: left" class="align-left">
                                            <span>{{ selected_module.project.description|linebreaks }}</span>
                                        </li>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>















            </div>
            <br/>
            <br/>
            <br/>
            <a href="{% url 'task-create' selected_module.id %}">
                <button type="button" class="btn btn-success"><i
                        class="fa fa-plus-square"></i><span> Create New Task</span></button>
            </a>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h5>All Task List</h5>
            <div class="body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped dataTable"
                           id="datatable-pm-project_list" style="font-size: 13px;">
                        <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th class="td-padding">#</th>
                            <th class="td-padding">Task Name</th>
                            <th class="td-padding">Member</th>
                            <th class="td-padding">Status</th>
                            <th class="td-padding">Progress</th>
                            <th class="td-padding">Assigned Date</th>
                            <th class="td-padding">Submission Date</th>
                            <th class="td-padding">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for task in task_list %}
                            <tr style="background-color: white;">
                                <td class="td-padding">{{ forloop.counter }}</td>
                                <td class="td-padding">
                                    {{ task.name|slice:":20" }}{% if task.name|length > 20 %}...{% endif %}</td>
                                <td class="td-padding">{{ task.assigned_member }}</td>
                                <td class="td-padding"><span style="font-weight: bolder"
                                                             class="badge {% if task.status == 1 %}
                                                                 badge-default bg-secondary
                                                             {% elif task.status == 2 %}
                                                                 badge-info
                                                             {% elif task.status == 3 %}
                                                                 badge-primary
                                                             {% elif task.status == 4 %}
                                                                 badge-warning
                                                             {% elif task.status == 5 %}
                                                                 badge-danger
                                                             {% elif task.status == 6 %}
                                                                 badge-secondary
                                                             {% elif task.status == 7 %}
                                                                 badge-success
                                                             {% endif %}">{{ task.get_status_display }}</span>
                                </td>
                                <td class="td-padding">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%; "></div>
                                    </div>
                                    <small>Completion: 0%</small>
                                </td>
                                <td class="td-padding">{{ task.assigned_at|default_if_none:'Not Assigned Yet' }}</td>
                                <td class="td-padding">{{ task.submission_date|date }}</td>
                                <td class="actions td-padding">
                                    {% if task.status >= 2 %}{% else %}
                                        <a href="{% url 'task-assign' selected_module.id  task.id %}">
                                            <button type="button"
                                                    data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                                    class="btn btn-primary" title="Assign Task"><span
                                                    class="sr-only">Assign Task</span> <i
                                                    class="fas fa-share-square"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'task-update' selected_module.id task.id %}">
                                        <button type="button"
                                                data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                                class="btn btn-success" title="Edit Task"><span
                                                class="sr-only">Edit</span> <i
                                                class="fa fa-edit"></i></button>
                                    </a>
                                    <a id="confirm-button-url_task" data-module="{{ selected_module.id }}"
                                       data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                       data-task="{{ task.id }}"
                                       class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "
                                       data-type="{% if task.status >= 2 and task.status < 7 %}with-title{% else %}task_delete_confirm{% endif %}"
                                       data-status="{% if task.status >= 3 %}running{% elif task.status == 2 %}assigned{% endif %}"
                                       title="Delete Task"><span class="sr-only">Delete Task</span> <i
                                            class="fas fa-trash-alt text-col-white"></i>
                                    </a>


                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        // SCript for delete user. here we are just taking the url of the user to delete and it will be using in dialog.js
        let delete_task_url = null;
        let status = null;
        let title = 'Task';
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_task_url = "/team/module/" + $(this).data('module') + "/task/delete/" + $(this).data('task');
            {#console.log(delete_task_url);#}
            status = $(this).data('status');
        });
    </script>



{% endblock %}
