{% extends 'base/base_template.html' %}
{% load static %}
{% block title %}
    Team: {{ selected_module.assigned_team.name }} - {{ selected_module.name }} - All Task
{% endblock %}
{% block main_content %}


    <div class="card open_task">
        <div class="header">
            <h2 style="font-size: 25px; margin-bottom: 10px !important;">Module Information</h2>
            <div>

                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-withicon"><i
                                class="fa fa-home"></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-withicon"><i
                                class="fa fa-user"></i> Profile</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Contact-withicon"><i
                                class="fa fa-vcard"></i> Contact</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="Home-withicon">


                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Project Name: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">{{ selected_module.project.name }}</p><br/>
                                </div>
                            </div>
                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Module Name: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">{{ selected_module.name }}</p><br/>
                                </div>
                            </div>
                            <div class="row clearfix" style="height: 48px">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;">Module Status: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p style="font-size: 18px;">
                                        <span style="font-weight: bolder"
                                              class="badge {% if selected_module.status == 1 %}
                                                                 badge-default
                                                             {% elif selected_module.status == 2 %}
                                                                 badge-info
                                                             {% elif selected_module.status == 3 %}
                                                                 badge-primary
                                                             {% elif selected_module.status == 4 %}
                                                                 badge-success
                                                             {% endif %}">{{ selected_module.get_status_display }}</span>
                                    </p><br/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;padding-bottom: 5px !important;">Module Description: </p>
                                </div>
                                <div class="col-lg-8 col-md-12 " style="font-size: 18px;">
                                    <p class=""
                                       style="font-size: 18px;">{{ selected_module.description|linebreaks }}</p>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;padding-bottom: 5px !important;">Module Assigned
                                        Date: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p class="" style="font-size: 18px;">{{ selected_module.assigned_at|date }}</p>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;margin-right: 0px; padding-bottom: 5px !important;">Module
                                        Submission Date: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p class="" style="font-size: 18px;">{{ selected_module.submission_date }} ::
                                        <span class=" badge badge-danger"> {{ selected_module.get_day_left_to_submit }} days left to submit</span>
                                    </p>
                                </div>
                            </div>
                            {% if selected_module.is_completed %}
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-12">
                                        <p style="font-size: 18px;margin-right: 0px; padding-bottom: 5px !important;">
                                            Module
                                            Completed At: </p>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <p class="text-success" style="font-size: 18px;">
                                            {{ selected_module.completed_at|date }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-12">
                                    <p style="font-size: 18px;margin-right: 0px; padding-bottom: 5px !important;">Total
                                        Task Created: </p>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <p class="" style="font-size: 18px;">{{ task_list.count }}</p>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="Profile-withicon">
                            <h6>Profile</h6>
                            <p>write someting here</p>
                        </div>
                        <div class="tab-pane" id="Contact-withicon">
                            <h6>Contact</h6>
                            <p>write someting here</p>

                        </div>
                    </div>
                </div>


            </div>
            <br/>
            <br/>
            <br/>
            <a href="{% url 'task-create' selected_module.id %}">
                <button type="button" class="btn btn-success"><i
                        class="fa fa-plus-square"></i><span> Create New Task</span></button>
            </a>
            <ul class="header-dropdown">
                <li><a href="javascript:void(0);" data-toggle="cardloading"
                       data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                <li><a href="javascript:void(0);" class="full-screen"><i
                        class="icon-size-fullscreen"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another Action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <h5>All Task List</h5>
            <div class="body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped dataTable"
                           id="datatable-pm-project_list" style="font-size: 13px;">
                        <thead>
                        <tr class="bg-dark" style="color: white;">
                            <th class="td-padding">#</th>
                            <th class="td-padding">Task Name</th>
                            <th class="td-padding">Member</th>
                            <th class="td-padding">Status</th>
                            <th class="td-padding">Progress</th>
                            <th class="td-padding">Assigned Date</th>
                            <th class="td-padding">Submission Date</th>
                            <th class="td-padding">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for task in task_list %}
                            <tr style="background-color: white;">
                                <td class="td-padding">{{ forloop.counter }}</td>
                                <td class="td-padding">
                                    {{ task.name|slice:":20" }}{% if task.name|length > 20 %}...{% endif %}</td>
                                <td class="td-padding">{{ task.assigned_member }}</td>
                                <td class="td-padding"><span style="font-weight: bolder"
                                                             class="badge {% if task.status == 1 %}
                                                                 badge-default
                                                             {% elif task.status == 2 %}
                                                                 badge-info
                                                             {% elif task.status == 3 %}
                                                                 badge-primary
                                                             {% elif task.status == 4 %}
                                                                 badge-warning
                                                             {% elif task.status == 5 %}
                                                                 badge-danger
                                                             {% elif task.status == 6 %}
                                                                 badge-secondary
                                                             {% elif task.status == 7 %}
                                                                 badge-success
                                                             {% endif %}">{{ task.get_status_display }}</span>
                                </td>
                                <td class="td-padding">
                                    <div class="progress progress-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%; "></div>
                                    </div>
                                    <small>Completion: 0%</small>
                                </td>
                                <td class="td-padding">{{ task.assigned_at|default_if_none:'Not Assigned Yet' }}</td>
                                <td class="td-padding">{{ task.submission_date|date }}</td>
                                <td class="actions td-padding">
                                    {% if task.status >= 2 %}{% else %}
                                        <a href="{% url 'task-assign' selected_module.id  task.id %}">
                                            <button type="button"
                                                    data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                                    class="btn btn-primary" title="Assign Task"><span
                                                    class="sr-only">Assign Task</span> <i
                                                    class="fa fa-share-square-o"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'task-update' selected_module.id task.id %}">
                                        <button type="button"
                                                data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                                class="btn btn-success" title="Edit Task"><span
                                                class="sr-only">Edit</span> <i
                                                class="fa fa-edit"></i></button>
                                    </a>
                                    <a id="confirm-button-url_task" data-module="{{ selected_module.id }}"
                                       data-toggle="tooltip" data-placement="top" style="padding:3px 7px;"
                                       data-task="{{ task.id }}"
                                       class="btn btn-danger js-sweetalert confirm-button-url delete-confirm "
                                       data-type="{% if task.status == 2 %}with-title{% else %}task_delete_confirm{% endif %}"
                                       title="Delete Task"><span class="sr-only">Delete Task</span> <i
                                            class="fa fa-trash-o text-col-white"></i>
                                    </a>


                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        // SCript for delete user. here we are just taking the url of the user to delete and it will be using in dialog.js
        let delete_task_url = null;
        let title = null;
        $('.delete-confirm').on('click', function (event) {
            event.preventDefault();
            delete_task_url = "/team/module/" + $(this).data('module') + "/task/delete/" + $(this).data('task');
            console.log(delete_task_url);
            title = 'Task'
        });
    </script>



{% endblock %}
